main section h1{
    font-size: 38px;
    
}
main section p{
    font-size: 22px;  
}

main section{
    display: flex;
    justify-content: space-around;
}

section form label{
  display: flex;  
  font-size: 20px;
}

form div.form-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form div.form-inline .input-contato{
    width: 300px;
    height: 20px;
}

form div.form-inline textarea.textarea-contato{
    resize: none;
    width: 620px;
}

form div.botao-enviar button{
    background-color: #ffb90f;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 20px;
}