header{
    width:100%;
    height:10%;
    background-color:#ffb90f;
    position: relative;
    margin-top:70px;
}

header nav img{
    width:200px;
    position: absolute;
    top: -65px;
    }

header nav ul{
display:inline-block;
list-style: none;
height: 60px;
margin-left: 160px;
}

header nav ul li{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0 0 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav form {
    display: inline-block;
    margin-left: 400px;
}

/*container*/
.container {
    width: 960px;
    height: 650px;
    margin: 40px auto;
}

section .product{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-color: black;
    background-position: center;
    margin: 0px 15px 15px 0px;
    
}

section .product-image-1{
    background-image: url(../../imagens/product-1.jpg);
}

section .img-label {
    width: 70px;
    margin-left: 226px;
    margin-top: 5px;
}


section .name-product {
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
    padding: 10px;
    background-color: #101010;
}

section .see-more {
    background-color: #ff4500;
    color: white;
    width: 90px;
    height: 40px;
    margin: 0 105px;
}


footer {
    height: 100px;
    width: 100%;
    background-color: #ffb90f;
    text-align: center;    
    color: white;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
    line-height: 100px;
}
section .product:hover{
    opacity: 0.5;
}
header .form-header .input-header:focus{
    outline-color: blue;
}