header{
    width:100%;
    height:10%;
    background-color:#ffb90f;
    position: relative;
    margin-top:70px;
}

header nav img{
    width:200px;
    position: absolute;
    top: -60px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    height: 60px;
    margin-left: 160px;
}

header nav ul li{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0 0 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav form {
    margin-left: 400px;
}

/*container*/
.container {
    width: 960px;
    height: 650px;
    margin: 40px auto;
}

section{
    display: flex ;
    flex-wrap: wrap;
}

section .product{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-color: black;
    background-position: center;
    margin: 0px 15px 15px 0px;
    
}
section .product-image-1{
    background-image: url(../../imagens/product-1.jpg);
    justify-content: space-between;
    
}

section .img-label {
    width: 70px;
    align-self: flex-end;   
}


section .name-product {
    color: white;
    font-size: 20px;
    background-color: #101010;
    align-self: center;
}

section .see-more {
    background-color: #ff4500;
    color: white;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    align-self: center;   
}


footer {
    height: 100px;
    width: 100%;
    background-color: #ffb90f;
    text-align: center;    
    color: white;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
    line-height: 100px;
}
section .product:hover{
    opacity: 0.5;
}
header .form-header .input-header:focus{
    outline-color: blue;
}